.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--neutral-white);
  font-size: 0.8rem;
}

.unit {
  color: var(--neutral-dark-grayish-cyan-light);
  font-size: 0.7rem;
}

.total {
  color: var(--primary-strong-cyan);
  font-size: 2.2rem;
  font-weight: 700;
}
